.Single-Post{
    width: 100%;
}
.singlePost {
    width:80%;
    margin: 0 auto;
}
.singlePostWrapper {
    padding:20px;
}
.singlePostImg {
    width: 100%;
    border-radius: 5px;
    max-height: 600px;
    object-fit: cover;
}
.singlePostTitle {
    margin: 10px;
    font-size: 28px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
.singlePostEdit {
    float: right;
    font-size: 18px;
}
.singlePostIcon {
    margin-left: 15px;
    cursor: pointer;
}
.singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: #4F4557;
}
.PostDesc {
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    color:#6B728E;
}
.loader-singlepost{
    padding-top: 8rem;
    width: fit-content;
    margin: auto;
}
.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid black; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  